.App {
  text-align: center;
}

h1 {
  color: white;
}

.react-window-wrapper {
  margin: 0 auto;
  background-color: white;
  border: 1px solid #d9dddd;
}

.GridItemEven,
.GridItemOdd,
.GridHeaderItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.GridItemEven {
  background-color: #f8f8f0;
}

.GridHeaderItem {
  background-color: #fff;
}
